{erl_opts, [debug_info]}.
{deps, [
    {chatterbox, {git, "https://github.com/joedevivo/chatterbox.git", {branch, "master"}}} 
   ,{ibrowse,    {git, "https://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}}
   ,{jsx,        {git, "https://github.com/talentdeficit/jsx.git",    {branch, "master"}}}
   ,{erespool,   {git, "https://github.com/pierluidgi/erespool.git",  {branch, "master"}}}
   ,{ecld,       {git, "https://github.com/pierluidgi/ecld.git",      {branch, "master"}}}
  ]}.

